/*
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
	}

	header
	{
		margin-bottom: 1.6em;
	}

		header h2
		{
			font-size: 3.4em;
		}

		header .byline
		{
			font-size: 1.7em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 10em 0 6em 0;
	}

	.homepage #header
	{
		padding: 16em 0 12em 0;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{

		padding: 6em 0em;
	}

	.homepage #content header h2
	{

		padding: 1em;
		font-size: 2.2em;
	}

	.homepage #content
	{
		padding: 1em;
	}

	.homepage #content .styled-table {
    border-collapse: collapse;
    margin: 25px auto 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.homepage #content .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.homepage #content .styled-table th,
.homepage #content .styled-table td {
    padding: 12px 15px;
}

.homepage #content .styled-table tbody tr  {
    border-bottom: 1px solid #dddddd;
}

.homepage #content .styled-table tbody  tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.homepage #content .styled-table tbody  tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.homepage #content .styled-table tbody  tr:hover {
    font-weight: italic;
    color: #009879;
}

.icon {
  content: url("https://media.giphy.com/media/PAbELXsl2P7mE/giphy.gif");
  height: 40px;
  width: 40px;
}

	#sidebar h2
	{
		font-size: 2.4em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 6em 0em;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		padding: 6em 0em;
	}

	#featured h3
	{
		padding: 1.5em 0em;
		font-size: 1.6em;
	}

	#featured header
	{
		margin-bottom: 3em;
	}

	#featured p
	{
		line-height: 2em;
		font-size: 1.2em;
	}

/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/

	#tweet
	{
		padding: 6em 0em;
	}

	#tweet blockquote
	{
		margin: 0;
		padding: 1em 4em;
		line-height: 1.5em;
		font-size: 1.8em;
	}


	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.homepage #content input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.homepage #content input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

.homepage #content input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.homepage #content input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

.homepage #content input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.homepage #content input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

.homepage #content input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.homepage #content input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

.homepage #content input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.homepage #content input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

.homepage #content input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.homepage #content input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

.homepage #content input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.homepage #content input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

.homepage #content input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.homepage #content input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

.homepage #content body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

.homepage #content header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

.homepage #content #form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

.homepage #content #aftersubmit {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

.homepage #content input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.homepage #content input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.homepage #content textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.homepage #content textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.homepage #content #submit {
  width: 470px;

  padding: 0;
  margin: -10px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

.homepage #content #submit:hover {
  color: #e2dedb;
}
